html {
	scroll-behavior: smooth;
}
:root {
	--text: Montserrat;
	--code: Roboto Mono;
	--background: rgba(0, 0, 255, 0.05);
	--color: rgba(0, 0, 0, 0.637);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--color);
}

body {
	font-family: var(--text);

	background: rgba(0, 0, 255, 0.062);
}
